<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php"
		stopOnFailure="false" 
		coverage-html="./reports" >
	<testsuite name="AllTest">
	<!-- All Unit Test Cases -->		
		<directory>test/unit</directory>
		
	<!-- All Selenium Test cases -->
		<file>test/sel/com/admin/infoTest.php</file>
		<file>test/sel/com/admin/googleProximityTest.php</file>
		<file>test/sel/com/admin/configTest.php</file>
		
		<file>test/sel/com/site/joomlaSearchTest.php</file>
		<file>test/sel/com/site/searchTest.php</file>
		<file>test/sel/com/site/sortingTest.php</file>
		<file>test/sel/com/site/listTest.php</file>
		<file>test/sel/com/site/paginationTest.php</file>
		<file>test/sel/com/site/rangesearchTest.php</file>
		<file>test/sel/com/site/sliderTest.php</file>
		<file>test/sel/com/site/xiusPrivacySelTest.php</file>
		<file>test/sel/com/site/xiusemailSelTest.php</file>
		<file>test/sel/com/site/googleProximityTest.php</file>
		<file>test/sel/com/site/informationProximityTest.php</file>
		<file>test/sel/com/site/proximitydefaultTest.php</file>	
		<file>test/sel/com/site/forceSearchTest.php</file>	
	<!--<file>test/sel/com/site/xiusintegrationSelTest.php</file>-->
		<file>test/sel/com/site/calendartestingTest.php</file>

	<!-- All UI Test Cases -->		
		<directory>test/ui</directory>
			
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>
	
	<filter>
          <blacklist>
            <directory suffix=".php">../</directory>
          </blacklist>
          <whitelist>
            <directory suffix=".php">../components/com_xius</directory>
            <directory suffix=".php">../administrator/components/com_xius</directory>
          </whitelist>
        </filter>

</phpunit>
