<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php"
		stopOnFailure="true" 
		coverage-html="./reports" >
	<testsuite name="AllTest">
		<file>install/installTest.php</file>
		<file>test/unit/com/admin/libraries/factory.php</file>
		<file>test/unit/com/admin/libraries/info.php</file>
		<file>test/unit/com/admin/libraries/pluginbase.php</file>
		<file>test/unit/com/admin/libraries/jsfieldview.php</file>
		<file>test/unit/com/admin/libraries/joomla.php</file>
		<file>test/unit/com/admin/libraries/keyword.php</file>
		<!--<file>test/unit/com/admin/libraries/cbuilder.php</file>-->
		<file>test/unit/com/admin/libraries/usersearch.php</file>
		<file>test/unit/com/admin/libraries/cache.php</file>
		<file>test/unit/com/admin/helpers/utils.php</file>		
		
		<file>test/unit/com/admin/controllers/info.php</file>
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>
	
	<!--<filter>
	  <whitelist>
	    <directory suffix=".php">../components/com_xiec</directory>
	    <directory suffix=".php">../administrator/components/com_xiec</directory>
	    <exclude>
	    	<file>../components/com_xiec/xiec.php</file>
    	</exclude>
	    
	  </whitelist>
	</filter>-->

</phpunit>
