<phpunit 
               backupGlobals="false" 
                backupStaticAttributes="true" 
                colors="true" 
                syntaxCheck="false"
                bootstrap="./bootstrap.php"
                stopOnFailure="false" 
        >

        <testsuites>
          <testsuite name="Installation Test Suite">
            <!--<directory>./install/</directory>-->
            <directory>./install</directory>
          </testsuite>
        </testsuites>
        
        <listeners>
                <listener class="XiTestListener" file="./system/XiTestListener.php" />
        </listeners>
        
</phpunit>
