.mainbox
{
  width:100%;
}

.subbox
{
 margin:5px;
 position: relative;
 margin-top: 2px;
 overflow: auto;
 border:2px groove #DDECF3;
 background-repeat:no-repeat;
 background-position: 0px 20px; 
}

.head
{
 width:100%;
 background-color:#D8DFEA;
 height:20px;
 border-bottom: 1px solid #275788;
 color:#275788;
}

.subleftbox{
float:left;
margin:10px;
border:1px solid black;
background-color: #DDECF3;
}
.subleftbox a
{

}	
.subleftbox img
{
width:67px;
margin:3px;
height: 67px;
top:40%;
}
ul{
}
.subrightbox
{
float:right;
width:70%;
text-align: left;
}
.sort
{
width:100%;
text-align: right;
overflow:auto;
margin-left: 5px;
}
.selectbox
{
float:right;
margin-right: 10px;
}
.toolbar
{
width:100%;
text-align: right;
overflow: auto;
margin-left: 5px;
}
.total
{
float: right;
margin-right: 15px;
}
p.on
{
color:green;
background-image: url("../../images/online.png");
background-repeat:no-repeat;
}	
p.off
{
background-image: url("../../images/offline.png");
background-repeat:no-repeat;
}
.lsubrightbox
{
float:left;
margin-top:2px;
padding-top:0px;
width:70%;
}
.lsubrightbox b
{
color:#275788;
}
.viewprofile{
float: left;
display: block;
margin-left: 10px;
margin-bottom: 10px;
border:1px solid #D8DFEA;
}



