@CHARSET "UTF-8";
.xius_box{
	border:1px solid black;	
	width:600px;
	margin-left:20px;
}

.xius_box .head{
	background:#C53B1C;
	height:25px;
	width:100%;
	color:white;
}

.xius_box .head p{
margin-left:5px;
margin-top:0px;
}

.xius_box .sub{
width:50px;
height:25px;
margin-left:35px;
}

.xius_box .ul{
	margin-left:35px;
	list-style-type:none;
	width:100%;
	}
#searcha
{
margin-top:0px;
margin-right: 0px;
height: 20px;
overflow-x: hidden;
overflow-y: hidden;
text-align: right;
}