.xiusMod_available {
	overflow:hidden;
	margin: 0 0 0 0;
}
.xiusMod_availablemain {
	float: left;
	width:100%;
    margin-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.xiMod_left {
	width:24%;
	float: left;
	margin: 0 0 0 0;
	}

.xiMod_right {
	width:70%;
	float: right;
	margin: 0 0 0 1px;
}
.xiusMod_available input {
	width: 115px;
	margin: 0 0 0 0;
}

.xiusMod_available select {
	width: 120px;
	margin: 0 0 0 0;
}

.xiusMod_available input[type="checkbox"] {
	width: 15px;
}
.xiusModSearch{
	clear: both;
	}
.xiusModSearch input{
	margin-top: 10px;
	float:right;
	}
LABEL {
	display: block;
}