/** Available Info Module Div  **/
.xiusMod_available {
	overflow: hidden;
}

.xiusMod_availablemain {
	float: left;
	width: 44%;
	margin-top: 10px;
	margin-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.xiMod_left {
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	width:30%;
}

.xiMod_right {
	overflow:hidden;
	float: left;
}

.xiMod_right input {
	width: 150px;
	float: left;
}

.xiusMod_available select {
	width: 156px;
	float: left;
}

.xiusMod_available input[type="checkbox"] {
	width: 15px;
	float: left;
}
.xiusModSearch{
	clear: both;
	}

.xiusModSearch input{
	margin-top: 10px;
	margin-left: 15px;
	}
.xiMod_right label{
display: block;
width:45%;
float:left;
}
/** End Of Available Info **/