@CHARSET "UTF-8";

div#xiusProfile div,
div#xiusProfile dl,
div#xiusProfile dt,
div#xiusProfile dd,
div#xiusProfile ul,
div#xiusProfile ol,
div#xiusProfile li,
div#xiusProfile h1,
div#xiusProfile h2,
div#xiusProfile h3,
div#xiusProfile h4,
div#xiusProfile h5,
div#xiusProfile h6,
div#xiusProfile pre,
div#xiusProfile form,
div#xiusProfile fieldset,
div#xiusProfile input,
div#xiusProfile textarea,
div#xiusProfile p,
div#xiusProfile blockquote,
div#xiusProfile th,
div#xiusProfile td {
	margin: 0; 
	padding: 0;
}

div#xiusProfile {
	overflow:hidden;
	clear:both;
}

div#profileToolbar {
	border:1px solid #e3e3e3;
	background:#ffffff;
	overflow:hidden;
	width:72%;
	float:right;
}

div#xiusProfile div#xiusTbButton{
		margin:0 0 0 -2px;
		padding:5px;       
        background:#ffffff;
        width:135px;
}

div#xiusProfile #xiusActions {
	position: absolute;
    margin:0 2px;
    border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;	
    padding:2px 0 2px 5px;
    cursor: pointer;
    background:#ffffff;
}
div#xiusProfile div.xiusfl {
	float: left;
}

div#xiusProfile div.xiusfr {
	float: right;
}

div#xiusProfile div.xiusfr ul li {
	float: left;
    margin: 0 5px 0 0;
    font-size: 10px;
}

div#xiusProfile div.xiusfr ul span.pagenav {
	font-size: 12px;
    font-weight: bold;
    line-height: 1.8em;
}

/** filters and filtered information**/
div#xiusProfile div#xiusFilter {

        overflow-y:hidden;
        overflow-x:auto;   
    	background:#ffffff;
        width:24%;
        border:1px solid #e3e3e3;
        float:left;
        padding:5px;
}

div#xiusProfile #xiusFiltered {
        width: 100%;
       margin-bottom:10px;
}

div#xiusClearAll {
	float:right;
	cursor: pointer;
	background: url("../../../../assets/images/clear_all.png") no-repeat;
}

div#xiusProfile div#xiusFdHead {
	background:#c3c3c3;
	color: #ffffff;
        padding:3px;
        font-weight:bold;
        font-size:110%;       
}

div#xiusProfile  div.xiusFdData {
	margin-top:5px;
	border:1px solid #e3e3e3;
        padding:2px;
}

div#xiusProfile span.xiusFdClear {
        float:right;
        cursor:pointer;
}
div#xiusProfile div.xiusFdLabel {
        font-weight:bold;
}

div#xiusProfile div.xiusFdValue {
}

div#xiusProfile div#filters {
	/*border:1px solid #e3e3e3;*/
	width:100%
}

div#xiusProfile div#xiusFlHead {
    /*font-size:120%;*/
	background:#c3c3c3;
	color: #ffffff;
	font-weight: bold;
        font-size:110%;
        padding:3px;
}

div#xiusProfile div#xiusFlForm {
   font-size:10px;
}
div#xiusProfile div.xiusFlData {
        margin-top:7px;
        border:1px solid #e3e3e3;
        padding:2px;
        overflow:hidden;
}

div#xiusProfile div.xiusFlLabel {
       font-weight:bold;
       width:100%;
}

div#xiusProfile div.xiusFlInput {
}

div#xiusProfile div.xiusFlInput input{
        width:150px;
}

div#xiusProfile div.xiusFlInput input[type=checkbox]{
        width:15px;
}

div#xiusProfile div.xiusFlInput input[type=radio]{
        width:15px;
}
div#xiusProfile div.xiusFlInput select{
        width:150px;
}
	 
div#xiusProfile div.xiusFlImg{
float:right;
cursor:pointer;
}

div#xiusProfile div#xiusSearched {
	border:1px solid;
}

/** Mini profile division **/
div#xiusProfile div#xiusMiniProfiles {
    float:right;
    width:72%;
    margin-left:1%;
}

div#xiusProfile div#xiusTotal {
	text-align: right;
	font-style: italic;
}

div#xiusProfile div#xiusMiniProfiles div.xiusMiniProfile {
	overflow:hidden;
	border:1px solid #e3e3e3;
    margin-bottom:5px;
}

div#xiusProfile div.xiusMiniProfile div.xiusHeader{
	overflow: hidden;
	margin-bottom:5px;
}


div.xiusMpOptions{
}

div#xiusProfile span.xiusOptionsImg{
	padding-right:16px;
	background: url("../../../../assets/images/options.png") no-repeat;
}

div#xiusProfile div.xiusMpOptions img{

}

div#xiusProfile span.xiusCheckUser {
	width:20px;
	margin:2px;
	float:left;
}
div#xiusProfile div.xiusOnline {
	padding:2px 5px 2px 20px;
	margin:0 0 2px 2px;
	background: url("../images/status.png") no-repeat 0 1px;	
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	width:auto;
	float:left;
}

div#xiusProfile div.xiusOffline {
	padding:2px 5px 2px 20px;
	margin:0 0 2px 2px;
	background: url("../images/status-offline.png") no-repeat 0 1px;	
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	width:auto;
	float:left;
}

div#xiusProfile div.xiusViewProfile {
	padding:0 0 0 20px;
	background: url("../../../../assets/images/viewprofile.png") no-repeat;	
	border-bottom: 1px dashed #e3e3e3;
	height:20px;
}

div#xiusProfile div.xiusWriteMsg {
	padding:0 0 0 20px;
	background: url("../../../../assets/images/msg.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;	
	height:20px;
}

div#xiusProfile div.xiusFriends {
	padding:0 0 0 20px;
	background: url("../../../../assets/images/friends.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;	
	height:20px;
}

div#xiusProfile div.xiusMpMiddle {
	overflow:hidden;
    width:100%;
}

div#xiusProfile .xiusHeaderStatus {
	float:left;
	padding:5px;
	width:100%;
}
	
div#xiusProfile div.xiusAvatar {
	width:14%;
	float:left;
        margin:5px;
}

div#xiusProfile div.xiusAvatar {
	padding:2px;
	text-align: center;
	padding:2px;
	width:66px;
} 

div#xiusProfile div.xiusMpData {
	margin:5px;
        width:80%;
        float:left;
}

div#xiusProfile div.xiusMpInfo {
	margin-bottom:5px;
	float:left;
        width:49.5%;
}

div#xiusProfile div.xiusMplabel	{
       float:left;
       width:35%;
       font-size:85%;
}
div#xiusProfile div.xiusMpValue	{
      font-weight:bold;
      float:left;
      font-size:85%;
}



div#xiusProfile div.xiusProfileAction {
	cursor: pointer;
	overflow:hidden;
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;	
	padding:2px 10px;
	margin-right:2px;
	float:right;
}

div#xiusProfile .xiusMpActions {
	border:1px solid #e3e3e3;
	background:#ffffff;
	display:none;
	padding:5px;
	position: absolute;
	width:100px;
    margin-left:-20px
}



/** for tool bar buttons */
div#xiusProfile #xiusCsv {
	padding:4px 0 0 25px;
	background: url("../../../../assets/images/excel.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
    height: 20px;
}

div#xiusProfile #xiusCsv:hover {
	padding:4px 0 0 25px;
	background: #e3e3e3 url("../../../../assets/images/excel.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
    height: 20px;
}

div#xiusProfile #xiusSave {
	padding:4px 0 0 25px;
	background: url("../../../../assets/images/save.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
    height: 20px;
}

div#xiusProfile #xiusSave:hover {
	padding:4px 0 0 25px;
	background: #e3e3e3 url("../../../../assets/images/save.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
    height: 20px;
    text-decoration: none;
}

div#xiusProfile #xiusEmailToAll {
	padding:4px 0 0 25px;
	background: url("../../../../assets/images/emailall") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
     height: 20px;
}

div#xiusProfile #xiusEmailToAll:hover {
	padding:4px 0 0 25px;
	background: #e3e3e3 url("../../../../assets/images/emailall") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
     height: 20px;
}

div#xiusProfile #xiusEmailToSelected {
	padding:4px 0 0 25px;
	background: url("../../../../assets/images/emailselected.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
     height: 20px;
}

div#xiusProfile #xiusEmailToSelected:hover {
	padding:4px 0 0 25px;
	background: #e3e3e3 url("../../../../assets/images/emailselected.png") no-repeat;
    border-bottom: 1px dashed #e3e3e3;
     height: 20px;
}
div#xiusProfile select{
	width:auto !important;
}
div#xiusProfile .xiusleft{
    float:left;
}
div#xiusProfile textarea{
    width:100%;
}