@CHARSET "UTF-8";

div#xiusResult div,
div#xiusResult dl,
div#xiusResult dt,
div#xiusResult dd,
div#xiusResult ul,
div#xiusResult ol,
div#xiusResult li,
div#xiusResult h1,
div#xiusResult h2,
div#xiusResult h3,
div#xiusResult h4,
div#xiusResult h5,
div#xiusResult h6,
div#xiusResult pre,
div#xiusResult form,
div#xiusResult fieldset,
div#xiusResult input,
div#xiusResult textarea,
div#xiusResult p,
div#xiusResult blockquote,
div#xiusResult th,
div#xiusResult td {
	margin: 0; 
	padding: 0;
}

div#xiusResult a {
	color:#006699;
}

div#xiusResult {
	overflow:hidden;
	clear:both;
}

div#xiusResult div#xiusProfile {
	width:78%;
	float: right;
}
	
div#xiusResult div.miniProfile {
	border-bottom:1px dotted #666666;
	padding:10px;
	overflow: hidden;
}


div#xiusResult div.miniProfile:hover {
	background:#ddf0f8;
	border-bottom:1px dotted #666666;
	padding:10px;
}

div#xiusResult div.miniProfileOptions {
	float:left;
}

div#xiusResult span.xiusCheckUser{
	float:left;	
}

div#xiusResult div.miniProfileAvatar {
	width:12%;
	float:left;
}

div#xiusResult div.miniProfileAvatar img {
	width:48px;
	height:48px;
}

div#xiusResult div.miniProfileInfos {
	width:70%;
	float: left;
}
	
div#xiusResult div.miniProfileInfo{
	float:left;
	width:49%;
}

div#xiusResult span.infoLabel {
	font-weight: bold;
	margin-right: 5px;
}

div#xiusResult span.infoValue {
	margin-right: 5px;
}

div#xiusResult h2.mPName{
	color:#006699;
}

div#xiusResult div#xiusFilter {
	width:20%;
	float: left;
	font-size: 12px;
}
	
div#xiusResult div#xiusClearAll {
	float:right;
}
	
div#xiusResult div#filterHead {
	border:1px solid #cfcfcf;
	padding: 2px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #efefef;
	color:#006699;
	font-weight: bold;
}

div#xiusResult div.xiusFdLabel{
	color:#006699;
}

div#xiusResult div#filterForm {
	border-bottom:1px solid #efefef;
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:10px;
}

div#xiusResult div#filterForm input, div#filterForm select {
	width:90%;	
	font-size: 12px;
}

div#xiusResult span.addButton, span.clearButton{
	float:right;
	color:#006699;
	cursor: pointer;
}

div#xiusResult div.xiusFdData{
	margin-bottom: 5px;
	border-bottom: 1px dotted #666666;
}

div#xiusResult div.xijoin{
	margin: 5px 0;
}

div#xiusResult div.xiusFlData{
	border-bottom:1px dotted #666666;
	margin-bottom: 4px;
	padding: 4px 2px;
}

div#xiusResult div#xiusToolbar {
	float:right;
	border:1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #efefef;
	width: 78%;
	overflow: hidden;
	font-size: 12px;
	
}

div#xiusResult div#xiusToolbar select{
	font-size: 12px;	
}

div#xiusResult div#xiusActions{
    color: #006699;
    float: left;
    margin-top: 10px;
    padding-left: 5px;
}

div#xiusResult div#xiusSorting{
	float:right;
	padding:5px 5px 0 0;
}

div#xiusResult span.xiusOptionsImg{
	padding-right:16px;
	background: url("../../../../assets/images/options.png") no-repeat;
}

div#xiusResult div#xiusTbButton {
		position: absolute;
		background: #efefef;
		padding: 2px;
		border: 1px solid #cfcfcf;
		line-height: 20px;
		width : 115px;
}

div#xiusResult span#sortBYTitle{
	color:#333333;
	margin-left: 5px;
}
	
div#xiusResult div#xiusToolbar select {
border:1px solid #efefef;
background: #efefef;
color:#006699;

}

div#xiusResult div.xiusfr {
	float:right;
}
div#xiusResult div.xiusfr ul li {
	float: left;
    margin: 0 5px 0 0;
    font-size: 10px;
}

div#xiusResult div.xiusfr ul span.pagenav {
	font-size: 12px;
    font-weight: bold;
    line-height: 1.8em;
}
div#xiusResult select{
	width:auto !important;
}
div#xiusResult .xiusleft{
    float:left;
}
div#xiusResult textarea{
	width:100%;
}