@CHARSET "UTF-8";

/******** XiUSParameter *********/

/* common css for all entites */
#XIUS .xippElements{
width: 100%;
overflow: hidden;
}

#XIUS .elementColumn{
width:49%;
float:left;
overflow:hidden;
}

#XIUSedit #planeditheader .paramValue input{
padding: 2px;
}

#XIUS .elementParams{
overflow:hidden;
margin-top:5px;
width:100%;
margin:auto;
margin-top:2px;
}

#XIUS .paramTitle{
background-color: #F0F0F0;
border-bottom:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
color:#666;
float:left;
font-weight: bold;
padding:1px 3px 1px 1px;
text-align: right;
width:150px;
}

#XIUS .paramValue{
float:left;
margin-left:1%;
padding:1px 1px 1px 3px;
/*width:100%;*/
}

#XIUS .paramValue input{
float:left;
margin-top: 3px;

}

#XIUS .paramValue select{
float:left;
margin-top: 3px;
}

#XIUS .paramValue label{
clear:none;
float:left;
margin-top:4px;
min-width:50px;
text-align:left;
}

/*  params */

#XIUS .xiusParameter{
}

#XIUS .xiRow{
overflow:hidden;
margin-top:5px;
width:100%;
margin:auto;
margin-top:2px;
}

#XIUS .xiCol{
	float:left;
}

#XIUS .xiColKey{	
background-color: #F0F0F0;
border-bottom:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
color:#666;
float:left;
font-weight: bold;
padding:1px 4px 1px 1px;
text-align: right;
width:150px;
}

#XIUS .xiColValue{	
float:left;
margin-left:1%;
padding:3px 1px 1px 3px;
width:60%;
}

#XIUS .xiColDescription{	
float:left;
line-height: 22px;
font-weight: bold;
color:#666;
text-decoration: underline;
}

#XIUS .xiColValue input{
float:left;
margin-top:0;
}

#XIUS .xiColValue select{
float:left;
margin-top:0px;
}

#XIUS .xiColValue label{
clear:none;
float:left;
margin:2px 0;
min-width:50px;
}

.hasTip{
background-color:#F0F0F0;
border-bottom:0px;
border-right:0px;
text-align: right;
color:#666666;
font-size:12px;
font-weight:bold;
margin-right:2px;
padding-right:2px;
width:150px
}

.xiusAdminCPanel
{
	height:85px; 
	width:90px; 
	margin:10px; 
	border:1px solid #ccc; 
	border-radius:5px; 
	padding-top:10px;
	background-color:#F2F2F2;
	text-align:center;
}

.clearfix
{
	clear: both;
}

.icon-48-cpanel
{
	 background-image: url("../images/cpanel.png");
}
.icon-48-configuration
{
	 background-image: url("../images/xius-config.png");
}
.icon-48-list
{
	 background-image: url("../images/userlist.png");
}
.icon-48-info
{
	 background-image: url("../images/info.png");
}
.xiusboardcast
{
	float:left;
	min-width:30%;
}
#cpanel
{
	float:left;
	width:70%;	
}