
#xiusLists .xiusListsData {
	padding:2px 5px;
}

.xius-margin, #xiusLists #limit{
	margin: 5px 2px;
}

#xiusSave div{
	margin:0px;
}
	
#xiusSave .paramValue{
float:left;
margin-top:-5px;
}


#xiusSave .hasTip{
	display:block;
	float:left;
	cursor:default;
	font-weight:normal;
	text-align:left;
	width:32%;
}

#xiusSave input, 
#xiusSave select{
	padding : 6px;
	height:auto;		
}

#xiusSave hr{
	margin-top: 5px;
}

.xius-font-color{
	color:#7f8c8d;
}

div#xiusPopup .xius-radio-data, div#xiusSave .xius-radio-data{
	margin-left:5px;
	vertical-align:middle;
	margin-right:10px;
}