.xius_email .xiusEmailHeader
	{   
		height: 30px;
		background-color: #333333;
		margin-bottom:20px;
	}
	
.xius_email .xiusEmailHeader span
	{   
		color: #ffffff;
		font-weight: bold;
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		margin-left: 30px;
		position: absolute;
		left: 0pt;
	}


.xius_email .form-horizontal .control-label
	{
		text-align:left
	}

.xius_email .xiusEmailFooter
	{	
		height: 30px;
		margin-top: 1%;
		margin-right: 10%;
		text-align:right;
		overflow-x: hidden;
		overflow-y: hidden;
	}

.xius_email .xiusEmailError {
	margin-top: 3%;
	overflow-x: hidden;
	overflow-y: hidden;
	width: auto;
	border: 0;
	font-size: 13px;
	color: red;	
}

.xius_email .xius-margin-right{
	margin-right:2px;
}