/** css for result page **/
.xius_result{
}

.xius_result fieldset {
	background-image: none;
	border: 1px solid #275788;
}

.xiusListname{
	color: #275788;
	margin-left: 10px;
	font-size: 1.5em;
	text-decoration: underline;
	}
	
	
/** css for User Listing Main DIV **/	
.xiusListing {
	width: 100%;
	overflow: hidden;
	margin: 0;
}

/** Mini Profile Div **/
.xiusListing .xiusProfile {
	margin: 5px;
	position: relative;
	margin-top: 2px;
	overflow: hidden;
	border: 2px groove #DDECF3;
	background-repeat: no-repeat;
	background-position: 0px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.xiusProfile .xiusTopBar{
	width: 100%;
	background-color: #D8DFEA;
	height: 20px;
	border-bottom: 1px solid #275788;
	color: #275788;
	margin:0;
}

.xiusTopBar .xiusname {
	margin-left: 10px;
	margin-top: 3px;
	font-weight: bold;
}
.xiusProfileArea{
}

/** Avtar and View Profile's Left Side Div **/ 
.xiusProfileLeft {
	overflow: hidden;
	float: left;
	width: 95px;
}

.xiusAvatar {
	margin: 10px;
	border: 1px solid #275788;
	background-color: #DDECF3;
}

.xiusAvatar img {
	width: 67px;
	margin: 3px;
	height: 67px;
	top: 40%;
	cursor: pointer;
}

.xiusViewProfile {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
	height: 20px;
	width: 90px;
}

.xiusViewProfile button {
	background-image: url("../images/button.gif");
	font-size: x-small;
	font-weight: bold;
	color: #275788;
	padding: 0px;
	cursor: pointer;
}

/** End of Avtar and View Profile's Left Side Div **/
/** Mini Profile And Status Right Area **/
.xiusProfileRight {
	float: right;
	width: 75%;
	text-align: left;
}


.xiusMiniProfile {
	float: left;
	margin-top: 10px;
	padding-top: 0px;
	width: 50%;
}

.xiusMiniProfile b {
	color: #275788;
}

.xiusStatus {
	float: right;
	width: 20%;
	margin-top: 4px;
	margin-right: 10px;
}

/** End of Mini Profile And Status Right Area **/
/** Toolbar**/
.xiusToolbar {
	overflow: hidden;
	background: #D8DFEA;
	border: 1px solid #275788;
	margin: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px 5px 2px 5px;
}

.xiusToolbarTop {
	width: 100%;
	padding: 5px;
}

.xiusToolbarTop img {
	cursor: pointer;
}

.toolbarTopLeft {
	float: left;
}

.xiusSorting {
	float: right;
	color: #275788;
	font-weight: bold;
	font-size: 120%;
	margin: 0;
}

.xiusSorting img {
	cursor: pointer;
}

.xiusSorting select {
	background: #fff;
	color: #275788;
}

.xiusBlank {
	width: 100%;
	border-bottom: 1px solid #275788;
	overflow: hidden;
}

.xiusToolbarBottom {
	padding: 5px;
	margin:0px;
}

.xiusTotal {
	float: left;
	margin: 0;
	color:#275788;
}

.xiusPagination {
	float: right;
	margin: 0px;
}

.xiusPagination input {
	float: right;
}

/** End of Toolbar **/

/** applied info div css**/
.xiusAppliedinfo{
	border:1px solid #275788;
	overflow:hidden;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:8px;
}
.applied {
	margin-bottom: 2px;
}

.applied {
	float: left;
	background:#D8DFEA;
	-moz-border-radius:5px;
	/*border: 1px solid #275788;*/
	position: relative;
	width: 18%;
	overflow: hidden;
	color: #275788;
	margin-left: 4px;
}

.applied .left {
	float: left;
	width: 70%;
	margin: 2px;
}

.applied .right {
	float: right;
	margin-top: 5%;
	width: 25%;
	cursor: pointer;
}

/** End of applied info**/
/** Available info div **/
.xius_available {
	overflow: hidden;
	border:1px solid #275788;
	-moz-border-radius:5px;
	margin:8px;
}

.xius_availablemain {
	float: left;
	width: 47%;
	margin-top: 10px;
	margin-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.xi_left {
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	width:30%;
}

.xi_right {
	float: left;
}

.xi_right label{
	display:block;
	width:45%;
	float:left;
	padding: 0px;
	margin: 0px;
	}
.xius_available input {
	width: 150px;
}

.xius_available select {
	width: 156px;

}

.xius_available input[type="checkbox"] {
	width: 15px;
	/*display: block;*/
}

.xius_available img {
	cursor: pointer;
}
/** End Of Available Info **/
/** admin option popup box css**/
.savemainbox {
	overflow: hidden;
	border: 1px solid #275788;
	margin: 3px;
}

.savemainbox h3 {
	text-align: center;
}

.savemainbox .leftbox {
	width: 45%;
	border: solid 1px #E5E5E5;
	float: left;
	margin: 10px;
}

.savemainbox .rightbox {
	width: 45%;
	border: solid 1px #E5E5E5;
	float: right;
	margin: 10px;
}

.savemainbox .lab {
	width: 100px;
	float: left;
}

.savemainbox input,textarea {
	padding: 9px;
	border: solid 1px black;
	outline: 0;
	width: 200px;
	font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	margin-top: 2px;
}

.xiusSubmit input {
	width: auto;
	padding: 9px 15px;
	background: #D8DFEA;
	border: 1px solid #275788;
	font-size: 14px;
	color: #275788;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	text-align: right;
}

/**
.accordion {
	width: 100%;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background: url(images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion div {
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
	display: none;
}
**/
