@CHARSET "UTF-8";

.savemainbox{
overflow:hidden;
border:1px solid #275788;
margin: 3px;
}
.savemainbox h3{
text-align:center;
}
.savemainbox .leftbox{
width:45%;
border: solid 1px #E5E5E5;
float:left;
margin: 10px;
}
.savemainbox .rightbox{
width:45%;
border: solid 1px #E5E5E5;
float:right;
margin: 10px;
}
.savemainbox .lab{
width:100px;
float:left;
}
.savemainbox input, textarea { 
	padding: 9px;
	border: solid 1px black;
	outline: 0;
	width:200px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	margin-top: 2px;
	}
.savemainbox input[type="radio"] {
width:15px;
}
.submit input {
	width: auto;
	padding: 9px 15px;
	background: #D8DFEA;
	border: 1px solid #275788;
	font-size: 14px;
	color: #275788;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	text-align: right;
}
.savemainbox .subrightbox{
color:#275788;	
margin:2px;
}
.listloop{
margin:3px;
border: 1px solid #275788;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}