.xius_email
	{
		
	}
	
.xius_email .xiusEmailHeader
	{   
		height: 30px;
		background-color: #333333;
		background-image: none;
		background-repeat: repeat;	
		background-attachment: scroll;
		background-position: 0% 0%;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
.xius_email .xiusEmailHeader span
	{   
		color: #ffffff;
		font-weight: bold;
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		margin-left: 30px;
		position: absolute;
		top: 0pt;
		left: 0pt;
		z-index: 999;
	}

.xius_email .xiusEmailBox
	{
		margin-left: 2%;
		margin-top: 4%;
	}

.xius_email .xiusEmailBox .xiusEmailEntity
	{
		
		margin-top: 1%;
	}

.xius_email .xiusEmailBox .xiusEmailEntity .xiusEmailLabel
	{
		float: left;
		width: 15%;
		text-align:right;
		font-size:medium;
		font-weight: bold;
		padding-top: 0px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-top: 10px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	
.xius_email .xiusEmailBox .xiusEmailEntity .xiusEmailControl
	{
		witdth : 85 %;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;			
	}
	
.xius_email .xiusEmailBox .xiusEmailEntity .xiusEmailControl a
	{
		font-size: xx-small;
	}
	
.xius_email .xiusEmailBox .xiusEmailEntity .xiusEmailControl input,textarea
	{
		padding: 9px;
		border: solid 1px #E5E5E5;
		outline: 0;
		width: 70%;
		font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
		margin-top: 2px;
	}
	
.xius_email .xiusEmailFooter
	{	
		height: 30px;
		margin-top: 1%;
		margin-right: 10%;
		text-align:right;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	
.xius_email .xiusEmailBox .xiusEmailEntity .xiusEmailControl input:hover,input:focus,textarea:focus 
	{
		border-color: #C9C9C9;
		-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.xius_email .xiusEmailFooter input {
	margin-left:1px;
	width: auto;
	padding: 9px 15px;
	background: #D8DFEA;
	border: 0;
	font-size: 12px;
	color: #275788;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

.xius_email .xiusEmailError {
	margin-top: 1%;
	margin-right: 10%;
	text-align:right;
	overflow-x: hidden;
	overflow-y: hidden;
	width: auto;
	border: 0;
	font-size: 12px;
	color: red;	
}
	